#phone-normal {

  &:valid {
    outline: 2px solid $clr-positive;
  }
  &:invalid {
    outline: 2px solid $clr-negative;
    animation: shake 100ms ease-in alternate;
    animation-iteration-count: 3;
  }

  @keyframes shake {
    $offset: 0.3rem;
    0% {
      margin-left: -$offset;
    }
    100% {
      margin-left: $offset;
    }
  }
}