.phone-input--section {
  min-width: 0;
  width: 1.6rem;
  text-align: center;
  padding: 0.125em 0.3em;
  // outline: 5px solid green;

  &.current {
    background-color: transparentize($clr-accent, 0.45);
  }

  &:invalid {
    outline: 2px solid $clr-negative;
  }

  // &:nth-of-type(2) {
  //   background-color: green;
  // }
}

